body, input, select, textarea {
    font-family: 'Arial', sans-serif;
    background-color: #202020;
    color: #00E100;
    line-height: 1.6;
}

#generated-command {
    width: 100%;
    height: 150px;
    padding: 5px;
    font-family: Consolas, monospace;
    font-size: 18px;
    font-weight: bold;
    resize: none;
    background-color: #303030;
    color: #00E100;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.text-row {
    display: flex;
    flex-wrap: wrap;
}

.text-block {
    margin: 2px;
    font-size: 16px;
}

.guess-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    background-color: #303030;
    color: #00E100;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #303030;
    color: #00E100;
    border: 1px solid #00E100;
}

.banner {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none;
}

.char-container {
    display: inline-block;
    text-align: center;
}

.cipher-letter {
    flex: 1; /* take 50% of the width */
    text-align: center;
}

.clear-text {
    display: block;
}

.letter-pairing-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 80%;
    overflow-wrap: break-word;
}

.letter-pairing {
    display: flex; /* change this to flex */
    align-items: center; /* align items vertically center */
    border: none;
    color: #00E100;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 10px 2px;
    padding: 10px 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #303030;
    color: #00E100;
    z-index: 1;
    user-select: none;
    pointer-events: auto;
    width: 150px; /* Fixed width */
    min-width: 100px; /* Minimum width */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.selected {
    font-weight: bold;
    color: red;
}

.input-box {
    flex: 1; /* take 50% of the width */
    text-align: center;
    border: none;
    background-color: transparent;
    color: #00E100;
    max-width: 70px; /* maximum width of the input box */
    overflow: hidden; /* hide the overflow */
}

.letter-button {
    background-color: #303030;
    color: #e10000;
    border: none;
}
.input-box {
    background-color: #303030;
    color: #00E100;
    border: none;
}
.input-box-container {
    margin-bottom: 10px;
}